.details {
  display: flex;
  justify-content: center;

  .container {
    margin: 20px;
    padding: 20px;
    max-width: 960px;
    background-color: #fff;

    .back-button {
      margin-top: 30px;
      padding: 5px 10px;

      .icon {
        margin-right: 10px;
        font-size: larger;
        font-weight: 700;
      }
    }
  }
}
