.sidebar {
  height: 100vh;
  background-color: #fff;
  overflow-y: auto;

  &.is-open {
    width: 250px;
  }

  &.is-closed {
    width: 0;
  }

  .option {
    display: flex;
    width: 100%;
    height: 65px;

    &:first-child {
      margin-top: 15px;
    }

    &:last-child {
      margin-bottom: 15px;
    }

    .field {
      display: flex;
      flex: 1;
      flex-direction: column;
      margin: 5px;

      &:first-child {
        margin-left: 10px;
      }

      &:last-child {
        margin-right: 10px;
      }

      label {
        font-size: smaller;
        color: var(--font-gray);
      }

      input,
      select {
        flex: 1;
        width: 100%;
        box-sizing: border-box;
      }
    }
  }

  .toggle {
    position: fixed;
    top: 0;
    background-color: #fff;
    border-right: 1px solid var(--border-gray);
    border-bottom: 1px solid var(--border-gray);
    padding: 0 10px;
    font-size: xx-large;
    cursor: pointer;

    &.is-open {
      left: 250px;
    }

    &.is-closed {
      left: 0;
    }
  }
}
