.overview {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow-y: hidden;

  .vertical-separator {
    width: 1px;
    height: 100vh;
    background-color: var(--border-gray);
  }

  .grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
    grid-template-rows: max-content;
    gap: 20px;
    padding: 20px;
    overflow-y: scroll;

    > a {
      text-decoration: none;
      color: unset;
      display: flex;
    }
  }
}
